---
Checks: 'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-explicit-virtual-functions,cppcoreguidelines-special-member-functions,modernize-*,-modernize-use-default-member-init,-modernize-avoid-c-arrays,-modernize-use-transparent-functors,-modernize-use-std-print'
WarningsAsErrors: 'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-explicit-virtual-functions,cppcoreguidelines-special-member-functions'
FormatStyle: file
...
